body {
  margin: 48px 0 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  /*background-image: linear-gradient(rgb(255, 204, 0),rgb(255, 102, 0));*/ /*debug*/
  background-color: #181a1b;
}

.scroll-bar-dark::-webkit-scrollbar,
.scroll-bar::-webkit-scrollbar {
  width: 6px;
}

.scroll-bar::-webkit-scrollbar-thumb {
  background: #282a2b;
  border-radius: 3px;
}

.scroll-bar-dark::-webkit-scrollbar-thumb {
  background: #212425;
  border-radius: 3px;
}

.container {
  position: fixed;
  top: 48px;
  width: calc(100% - 16px);
  height: calc(100% - 48px);
  overflow-y: auto;
  text-align: center;
  padding: 0 8px 8px;
}

.chat-container {
  position: fixed;
  top: 48px;
  display: flex;
  width: 100%;
  height: calc(100% - 48px);
}

.small-container {
  margin: 16px;
}

.center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.spacer {
  border-bottom: 1px solid #3d4244;
  width: 100%;
  margin: 3px 0;
}

.switcher-modal {
  height: 400px;
  width: min(calc(100vw - 48px), 400px);
  background-color: #282a2b80;
  border-radius: 2px;
  padding: 16px;
}

.switch-container {
  overflow-y: auto;
  height: calc(100% - 32px);
}

.switcher-input {
  margin: 0 0 4px;
}

.switcher-item {
  margin: 0 0 4px;
  padding: 4px;

  &:hover {
    background-color: #31343580;
  }
}

.highlighted {
  background-color: rgba(255, 255, 255, 0.1);
}

.button a,
button {
  background-color: #282a2b;
  color: #ffffff;
  padding: 14px 16px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.button-red {
  color: #ff2f2f;
}

.profile-button-message,
.profile-button-add,
.profile-button-remove,
.profile-button-pending {
  color: #1e90ff;
  padding: 8px;
  font-size: 14px;
  display: flex;
  width: 100%;
}

.profile-button-message:hover {
  background-color: rgb(30, 144, 255, 0.1);
}

.profile-button-add:hover {
  background-color: rgb(71, 191, 76, 0.1);
}

.button-red:hover,
.settings-button-red:hover,
.profile-button-remove:hover {
  background-color: rgb(255, 47, 47, 0.1);
}

.profile-button-pending:hover {
  background-color: rgb(128, 128, 128, 0.1);
}

.profile-buttons {
  white-space: nowrap;
}

.profile-page {
  padding: 24px;
  height: 448px;
}

.profile-banner {
  object-fit: cover;
  width: min(500px, 100%);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.profile-user {
  flex: 1 1 auto;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-input {
  margin: 1px;
  width: calc(100% - 2px);
}

.profile-spacer {
  border-bottom: 1px solid #3d4244;
  width: 100%;
  margin: 20px 0;
}

.profile-info {
  height: 332px;
  overflow-y: auto;
}

.profile-picture-large {
  position: relative;
  margin-right: 16px;
  height: 80px;
  width: 80px;
}

.profile-picture {
  position: relative;
  margin-right: 8px;
  height: 40px;
  width: 40px;
}

.chanel-menu {
  text-align: center;
  margin: 32px 32px 18px 32px;
}

.online-indicator {
  position: absolute;
  bottom: 0;
  right: 0;
}

.message-send {
  height: 48px;
  background-color: #282a2b;
  text-align: center;
}

.scroll-button {
  display: flex;
  font-size: 12px;
  overflow: hidden;
  background-color: #282a2b;
  left: 0;
  right: 0;
  z-index: 1;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  text-align: left;
  padding: 4px 12px;
}

.filter-button {
  font-size: 12px;
  display: flex;
  align-items: center;
  margin: 0 0 4px 0;
  padding: 4px;
  background-color: #212425;
  cursor: pointer;
  height: 20px;
}

.error-banner {
  margin: 0;
  font-size: 16px;
  overflow: hidden;
  background-color: #ff2f2f;
  position: fixed;
  top: 48px;
  left: 0;
  right: 0;
  z-index: 2;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  text-align: left;
  padding: 4px 24px;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

@media screen and (max-width: 478px) {
  .responsive-chat {
    display: none;
  }
}

.chat-icon {
  width: 28px;
  height: 28px;
  padding: 10px;
}

.chat-button {
  height: 20px;
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.chat-navbar a.right,
.navbar a.right,
.right {
  float: right;
  cursor: pointer;
}

.left {
  float: left;
  cursor: pointer;
}

.chat-navbar,
.navbar {
  overflow: hidden;
  background-color: #282a2b;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.navbar a {
  height: 20px;
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.navbar a.main {
  color: #00ff00;
}

.chat-navbar a.active,
.navbar a.active {
  background-color: #2d5431;
}

.filter-button:hover,
.settings-item:hover {
  background-color: #282a2b;
}

.scroll-bar-dark::-webkit-scrollbar-thumb:hover,
.dropdown-toggle:hover,
.dropdown-menu li:hover,
.settings-button:hover,
.scroll-bar::-webkit-scrollbar-thumb:hover,
.left:hover,
.right:hover,
.button a:hover,
button:hover,
.icon-mobile:hover,
.chat-navbar a:hover,
.navbar a:hover {
  background-color: #313435;
}

.context-menu-item:hover,
.chats-settings:hover,
.message-grid:hover {
  background-color: #212425;
}

.icon-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar a:not(:first-child) {
    display: none;
  }

  .icon-mobile {
    line-height: 24px;
    width: 28px;
    height: 28px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    float: right;
    display: block;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.mention {
  background-color: rgb(30, 144, 255, 0.5);
  border-radius: 2px;
  cursor: pointer;

  &:hover {
    background-color: rgb(30, 144, 255);
  }
}

.border {
  background-color: #282a2b;
  border-radius: 15px;
  overflow: hidden;
  width: 300px;
  height: 387px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-icons {
  position: absolute;
  right: 8px;
  top: 0;
  height: 100%;
  display: none;
}

.message-time {
  width: 48px;
}

.message-time b {
  display: none;
  justify-content: center;
  line-height: 17px;
}

.message-grid,
.profile-grid,
.message-grid:hover .message-icons,
.message-grid:hover .message-time b {
  display: flex;
}

.message-item {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.message-embed {
  max-width: 80vw;
  max-height: 80vh;
}

input {
  color: white;
  font-size: 16px;
  width: 100%;
  padding: 4px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #3d3d3d;

  &:focus {
    outline: 1px solid white;
  }

  &::placeholder {
    color: grey;
  }
}

.loader {
  border: 6px solid #282a2b;
  border-top: 6px solid white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 0.75s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.chats-settings {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin-left: 4px;
  cursor: pointer;
}

.message-input {
  width: calc(100% - 100px);
  margin: 8px;
}

.context-menu-item {
  padding: 4px;
  cursor: pointer;
}

.highlight {
  background-color: rgb(38, 39, 220, 0.5);
}

ul {
  margin: 0;
}

a {
  text-decoration: none;
  color: #00a8fc;
}

p {
  color: white;
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin-top: 20px;
  font-size: 24px;
}

h4 {
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 4px;
}

.message-text-large {
  color: white;
  font-size: 16px;
  margin: 0;
}

.icon-text a {
  display: inline-flex;
  margin-bottom: 18px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.icon-image {
  width: 24px;
  height: 16px;
}

.message-text-medium {
  font-size: 12px;
}

.message-text-medium:hover {
  text-decoration: underline;
  cursor: pointer;
}

.message-text-medium-gray-hover,
.message-text-medium-gray {
  color: darkgrey;
  font-size: 12px;
  margin: 0;
}

.message-text-medium-gray-hover:hover {
  cursor: pointer;
  color: white;
}

.message-text-small {
  color: grey;
  font-size: 10px;
}

.text-small {
  color: white;
  font-size: 10px;
  text-align: left;
}

.text-medium {
  height: 19px;
}

.text-main {
  margin: 16px 0 16px 0;
}

.settings-text {
  font-size: 20px;
}

.error-message {
  color: #ff2f2f;
  font-size: 10px;
}

.modal-input {
  width: 100%;
  padding: 6px;
}

.grid-card {
  margin: 32px 32px 18px 32px;
  width: 100%;
  height: 100%;
}

.menu {
  width: min(100% - 20px, 500px);
  background-color: #282a2b;
  display: flex;
  border-radius: 16px;
  max-height: 100%;
  overflow-y: auto;
}

.settings-menu {
  width: max(700px, calc(100% - calc(40% - 64px)));
  background-color: #282a2b;
  display: flex;
  border-radius: 16px;
  height: min(calc(100% - 32px), max(40%, 600px));

  @media (max-width: 932px) {
    width: min(100% - 16px, 700px);
  }
}

.grid-home {
  padding: 18px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.grid-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;

  @media (max-height: 700px) or (max-width: 732px) {
    height: 100%;
  }
}

.grid-item {
  flex: 0 0 25%;
  padding: 10px;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  @media (min-width: 600px) {
    flex: 0 0 16.66%;
  }

  @media (min-width: 1000px) {
    flex: 0 0 8.33%;
  }
}

.grid-image {
  width: 300px;
  height: 300px;
}

.sidebar {
  height: calc(100% - 8px);
  width: 246px;
}

.switch {
  position: relative;
  width: 40px;
  height: 24px;
  display: table;
  margin: 8px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #212425;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #3d3d3d;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3d3d3d;
}

input:checked + .slider:before {
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.settings-item {
  cursor: pointer;
  font-size: 20px;
  text-align: left;
  padding: 16px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.settings-page {
  text-align: left;
  float: left;
  flex-grow: 1;
  width: calc(100% - 232px);
  margin: 16px;
  overflow-wrap: anywhere;
  max-height: 100%;
  overflow-y: auto;
}

.settings-page-container {
  width: fit-content;
}

.settings-sidebar {
  width: 199px;
  border-right: 1px solid #212425;
  background-color: #212425;
  border-radius: 16px 0 0 16px;
  float: left;
  overflow-y: auto;
}

.settings-button {
  background-color: #212425;
  padding: 8px;
  margin: 8px;
  cursor: pointer;
  font-size: 16px;
  display: table;
  border-radius: 2px;
}

.settings-button-red {
  background-color: #212425;
  padding: 8px;
  margin: 8px;
  cursor: pointer;
  font-size: 16px;
  display: table;
  border-radius: 2px;
  color: #ff2f2f;
}

.settings-spacer {
  border-bottom: 1px solid #3d4244;
  width: 100%;
  margin: 10px 0;
}

.settings-modal {
  text-align: center;
  padding: 32px 32px 18px;
}

.settings-input {
  width: 100%;
  padding: 6px;
  margin: 12px 0;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 210px;
}

.dropdown-toggle {
  cursor: pointer;
  padding: 8px;
  border: 1px solid #282a2b;
  border-radius: 2px;
  text-transform: capitalize;
  background-color: #212425;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  padding: 4px;
  border: 1px solid #282a2b;
  border-radius: 2px;
  background-color: #212425;
  list-style: none;
  z-index: 1;
}

.dropdown-menu li {
  border-radius: 2px;
  cursor: pointer;
  padding: 4px;
  text-transform: capitalize;
}
