body {
    margin: 47.5px 0 109px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #181A1B;
}

.center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

main {
    flex: 1;
}

.button a {
    background-color: #282A2B;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

.button a:hover {
    background-color: #2D2F31;
    color: white;
}

button {
    background-color: #282A2B;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: none;
}

button:hover {
    background-color: #2D2F31;
    color: white;
}

.topnav {
    overflow: hidden;
    background-color: #282A2B;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.message-send {
    margin-top:200px;
    overflow: hidden;
    background-color: #282A2B;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #2D2F31;
    color: white;
}

.topnav a.main {
    background-color: #1AC62B;
    color: white;
}

.topnav a.right {
    float: right;
    display: block;
}

.topnav a.active {
    background-color: #2D5431;
    color: white;
}

.topnav .icon {
    display: none;
}

.border {
    background-color: #282A2B;
    border-radius: 15px;

    overflow: hidden;
    width: 300px;
    height: 350px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    width: calc(100% - 150px);
    padding: 6px 6px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #3D3D3D;
    color: white;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    input[type=text]{
        width: calc(100% - 50px);
        padding: 6px 6px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: #3D3D3D;
        color: white;
    }
}

.loader {
    border: 6px solid #282A2B;
    border-top: 6px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 0.75s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: #282A2B;
}

body::-webkit-scrollbar-thumb {
    background-color: #181A1B;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #4e565a;
}

a {
    text-decoration: none;
    color: white;
}

p {
    color: white;
}

h1 {
    color: white;
}

h2 {
    color: white;
    margin-top: 67.5px;
}

h3 {
    color: white;
}

.message-text-large {
    color: white;
    margin-top:10px;
    font-size:16px;
}

.message-text-small {
    color: grey;
    margin-top:10px;
    font-size:10px;
}

.text-small {
    color: white;
    font-size:10px;
}

.error-message {
    color: red;
    font-size:10px;
}

label {
    color: white;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.grid-item {
    flex: 0 0 25%;
    padding: 10px;
    transition: all .2s ease-in-out;
}

.grid-item:hover {
    transform: scale(1.1);
}

.grid-login {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 187.5px);
    width: 100%;
}

.login-menu {
    margin: 0;
    width: 500px;
    height: 250px;
    background-color: #282A2B;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.register-menu {
    margin: 0;
    width: 500px;
    height: 300px;
    background-color: #282A2B;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.reset-menu {
    margin: 0;
    width: 500px;
    height: 200px;
    background-color: #282A2B;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.login-input {
    width: 100%;
    padding: 6px 6px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #3D3D3D;
    color: white;
}

.login-card {
    margin: 0;
    width: 90%
}

@media (min-width: 600px) {
    .grid-item {
        flex: 0 0 16.66%;

    }
}

@media (min-width: 1000px) {
    .grid-item {
        flex: 0 0 8.33%;
    }
}
