body {
  margin: 48px 0 0;
  font-family:  Arial, Helvetica, sans-serif;
  color: white;
  /*background-image: linear-gradient(rgb(255, 204, 0),rgb(255, 102, 0));*//*debug*/
  background-color: #181a1b;
}

.scroll-bar::-webkit-scrollbar {
  width: 6px;
}

.scroll-bar::-webkit-scrollbar-thumb {
  background: #282a2b;
  border-radius: 3px;
}

.container {
  position: fixed;
  top: 48px;
  width: 100%;
  height: calc(100% - 48px);
  overflow-y: auto;
  text-align: center;
}

.small-container {
  margin: 16px;
}

.center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.spacer {
  border-bottom: 1px solid #3d4244;
  width: 100%;
  margin: 3px 0;
}

.icon-image {
  width: 18px;
  height: 12px
}

.button a,
button {
  background-color: #282a2b;
  color: #ffffff;
  padding: 14px 16px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.profile-button-message,
.profile-button-add,
.profile-button-remove,
.profile-button-pending {
  color: #1e90ff;
  padding: 8px 8px;
  font-size: 14px;
  display: flex;
  width: 100%;
}

.profile-button-message:hover {
  background-color: rgb(30, 144, 255, 0.1);
}

.profile-button-add:hover {
  background-color: rgb(71, 191, 76, 0.1);
}

.profile-button-remove:hover {
  background-color: rgb(255, 47, 47, 0.1);
}

.profile-button-pending:hover {
  background-color: rgb(128, 128, 128, 0.1);
}

.profile-picture {
  position: relative;
}

.online-indicator {
  position: absolute;
  bottom: 0;
  right: 0;
}

.message-send {
  height: 48px;
  background-color: #282a2b;
  text-align: center;
}

.scroll-button {
  display: flex;
  font-size: 12px;
  overflow: hidden;
  background-color: #282a2b;
  left: 0;
  right: 0;
  z-index: 1;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  text-align: left;
  padding: 4px 12px;
}

.filter-button {
  font-size: 12px;
  display: flex;
  align-items: center;
  margin: 0 0 4px 0;
  padding: 4px;
  background-color: #212425;
  cursor: pointer;
  height: 20px;
}

.filter-button:hover {
  background-color: #282a2b;
}

.error-banner {
  margin: 0;
  font-size: 16px;
  overflow: hidden;
  background-color: red;
  position: fixed;
  top: 48px;
  left: 0;
  right: 0;
  z-index: 2;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  text-align: left;
  padding: 4px 24px;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.chat-navbar a.right,
.navbar a.right,
.right {
  float: right;
  cursor: pointer;
}

.chat-navbar,
.navbar {
  overflow: hidden;
  background-color: #282a2b;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.chat-navbar a,
.navbar a {
  height: 20px;
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}

.navbar a.main {
  color: #00ff00;
}

.chat-navbar a.active,
.navbar a.active {
  background-color: #2d5431;
}

.settings-item:hover {
  background-color: #282a2b;
}

.settings-button:hover,
.scroll-bar::-webkit-scrollbar-thumb:hover,
.right:hover,
.button a:hover,
button:hover,
.icon:hover,
.icon-mobile:hover,
.chat-navbar a:hover,
.navbar a:hover {
  background-color: #313435;
}

.icon-mobile {
  display: none;
}

@media screen and (max-width: 732px) {

  .navbar a:not(:first-child) {
    display: none;
  }

  .icon-mobile,
  .icon {
    line-height: 24px;
    width: 28px;
    height: 28px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    float: right;
    display: block;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.embed {
  max-width: min(400px, 100%);
  max-height: 300px;
}

.border {
  background-color: #282a2b;
  border-radius: 15px;
  overflow: hidden;
  width: 300px;
  height: 387px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-grid {
  display: flex;
  width: min(452px, calc(100% - 48px));
}

.message-grid {
  display: flex;
}

.message-icons {
  position: absolute;
  right: 8px;
  top: 0;
  height: 100%;
  display: none;
}

.message-time {
  width: 48px;
}

.message-time b {
  display: none;
  justify-content: center;
  line-height: 17px;
}

.message-grid:hover {
  background-color: #212425;
}

.message-grid:hover .message-icons,
.message-grid:hover .message-time b {
  display: flex;
}

.message-item {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

input {
  color: white;
  font-size: 16px;
  width: calc(100% - 32px);
  padding: 4px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #3d3d3d;
}

input:focus {
  outline: 1px solid white;
}

.loader {
  border: 6px solid #282a2b;
  border-top: 6px solid white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 0.75s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.responder {
  width: calc(100% - 100px);
  margin: 8px;
}

.highlight {
  background-color: #2627A4;
}

ul {
  margin: 0;
}

a {
  text-decoration: none;
  color: #00A8FC;
}

p {
  color: white;
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin-top: 20px;
  font-size: 24px;
}

h4 {
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 4px;
}

.message-text-large {
  color: white;
  font-size: 16px;
  margin: 0;
}

.icon-text a {
  display: block;
  margin-bottom: 18px;
}

.message-text-medium {
  font-size: 12px;
}

.message-text-medium:hover {
  text-decoration: underline;
  cursor: pointer;
}

.message-text-medium-gray-hover,
.message-text-medium-gray {
  color: darkgrey;
  font-size: 12px;
  margin: 0
}

.message-text-medium-gray-hover:hover {
  cursor: pointer;
  color: white
}

.message-text-small {
  color: grey;
  font-size: 10px;
}

.text-small {
  color: white;
  font-size: 10px;
  text-align: left
}

.text-medium {
  height: 19px
}

.text-main {
  margin:  16px 0 16px 0;
}

.settings-text {
  font-size: 20px;
}

.error-message {
  color: red;
  font-size: 10px;
}

.modal-input {
  width: 100%;
  padding: 6px;
}

.grid-card {
  margin: 32px;
  width: 100%;
}

.menu {
  width: min(100% - 20px, 500px);
  background-color: #282a2b;
  display: flex;
  border-radius: 25px;
}

.settings-menu {
  width: max(700px, calc(100% - calc(40% - 64px)));
  background-color: #282a2b;
  display: flex;
  border-radius: 25px;
  min-height: 500px;
}

.grid {
  padding: 18px 0 18px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.grid-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
}

@media (max-height: 700px) or (max-width: 732px){
  .grid-menu {
    height: 100%;
  }
}

@media (max-width: 932px) {
  .settings-menu {
    width: min(100% - 20px, 700px);
  }
}

.grid-item {
  flex: 0 0 25%;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.grid-item:hover {
  transform: scale(1.1);
}

.grid-image {
  width: 300px;
  height: 300px
}

@media (min-width: 600px) {
  .grid-item {
    flex: 0 0 16.66%;
  }
}

@media (min-width: 1000px) {
  .grid-item {
    flex: 0 0 8.33%;
  }
}

.settings-item {
  cursor: pointer;
  font-size: 20px;
  text-align: left;
  padding: 16px;
}

.settings-page {
  text-align: left;
  float: left;
  flex-grow: 1;
  padding: 16px;
  width: calc(100% - 232px);
}

.settings-sidebar {
  width: 199px;
  height: 100%;
  border-right: 1px solid #212425;
  background-color: #212425;
  border-radius: 25px 0 0 25px;
  float: left;
}

.settings-button {
  background-color: #212425;
  color: #ffffff;
  padding: 8px;
  margin: 8px;
  cursor: pointer;
  font-size: 16px;
  display: table;
}

.settings-button-red {
  padding: 8px;
  margin: 8px;
  cursor: pointer;
  font-size: 16px;
  display: table;
  color: #ff2f2f;
  background-color: #212425
}

.settings-button-red:hover {
  background-color: rgb(255, 47, 47, 0.1);
}

.settings-spacer {
  border-bottom: 1px solid #3d4244;
  width: 100%;
  margin: 10px 0;
}