body {
  margin: 48px 0 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  /*background-image: linear-gradient(rgb(255, 204, 0),rgb(255, 102, 0));*/ /*debug*/
  background-color: #181a1b;
  /*
  light grey 3d4244
  grey 282a2b
  grey hover 313435
  dark 212425
  dark hover 313435
   */
}

.scroll-bar-dark::-webkit-scrollbar,
.scroll-bar::-webkit-scrollbar {
  width: 6px;
}

.scroll-bar::-webkit-scrollbar-thumb {
  background: #282a2b80;
  border-radius: 3px;
}

.scroll-bar-dark::-webkit-scrollbar-thumb {
  background: #212425;
  border-radius: 3px;
}

iframe {
  border: 0;
  border-radius: 8px;
}

.container {
  position: fixed;
  top: 48px;
  width: calc(100% - 16px);
  height: calc(100% - 48px);
  overflow-y: auto;
  text-align: center;
  padding: 0 8px 8px;
  animation:
    slideIn-page 1s forwards,
    fadeIn 1s forwards;
}

.container-flex {
  display: flex;
  position: fixed;
  top: 48px;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  height: calc(100% - 48px);
  overflow-y: auto;
  text-align: center;
  scrollbar-gutter: stable;
}

.container-no-padding {
  position: fixed;
  top: 48px;
  width: 100%;
  height: calc(100% - 48px);
  overflow-y: auto;
}

.chat-container {
  position: fixed;
  top: 48px;
  width: 100%;
  height: calc(100% - 48px);
  display: flex;
}

.small-container {
  margin: 16px;
}

.background-container {
  position: fixed;
  width: 100%;
  height: 100%;
}

.background {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-size: cover;
  filter: brightness(1) blur(10px) saturate(1);
  animation: moveImage 180s infinite alternate;
  transition:
    filter 0.3s ease,
    opacity 0.5s ease;
  opacity: 0;
}

.light-mode .background {
  filter: brightness(2) blur(10px) saturate(0.75);
}

@keyframes moveImage {
  0%,
  100% {
    transform: scale(1.4) translate(0, -10%);
  }

  20% {
    transform: scale(1.35) translate(30%, -2%);
  }

  40% {
    transform: scale(1.4) translate(10%, -20%);
  }

  80% {
    transform: scale(1.35) translate(-30%, 0%);
  }
}

.center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.spacer {
  border-bottom: 1px solid #3d4244;
  width: 100%;
  margin: 3px 0;
}

.switcher-modal {
  height: 400px;
  width: min(calc(100vw - 48px), 400px);
  background-color: #282a2b80;
  border-radius: 2px;
  padding: 16px;
}

.switch-container {
  overflow-y: auto;
  height: calc(100% - 32px);
}

.switcher-input {
  margin: 0 0 4px;
}

.switcher-item {
  margin: 0 0 4px;
  padding: 4px;

  &:hover {
    background-color: #31343580;
  }
}

.highlighted {
  background-color: #ffffff1a;
}

button {
  min-width: 14px;
  background-color: #282a2bbf;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  margin: 4px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.button {
  min-width: 14px;
  background-color: #282a2bbf;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  margin: 4px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  animation: fadeIn 1s forwards;
  transition:
    background-color 1s ease,
    color 1s ease;
}

.button-red {
  color: #ff2f2f;
}

.profile-button-message,
.profile-button-add,
.profile-button-remove,
.profile-button-pending {
  color: #1e90ff;
  padding: 8px;
  font-size: 14px;
  display: flex;
  width: 100%;
}

.profile-button-message:hover {
  background-color: #1e90ff1a;
}

.profile-button-add:hover {
  background-color: #47bf4c1a;
}

.button-red:hover,
.settings-button-red:hover,
.profile-button-remove:hover {
  background-color: #ff2f2f1a;
}

.profile-button-pending:hover {
  background-color: #8080801a;
}

.profile-buttons {
  white-space: nowrap;
}

.profile-page {
  padding: 24px;
  height: 448px;
}

.profile-banner {
  object-fit: cover;
  width: min(500px, 100%);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.profile-user {
  flex: 1 1 auto;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-input {
  margin: 1px;
  width: calc(100% - 2px);
}

.profile-spacer {
  border-bottom: 1px solid #3d4244;
  width: 100%;
  margin: 16px 0;
}

.profile-info {
  height: 368px;
  overflow-y: auto;
}

.profile-picture-large {
  position: relative;
  margin-right: 16px;
  height: 80px;
  width: 80px;
}

.profile-picture {
  position: relative;
  margin-right: 8px;
  height: 40px;
  width: 40px;
}

.channel-menu {
  text-align: center;
  margin: 32px 32px 18px;
}

.selector {
  display: flex;
  justify-content: center;
  margin: 4px;

  .message-text-large {
    cursor: pointer;
    padding: 6px;
    background-color: #212425;
    width: 40%;

    &.active {
      background-color: #313435;
    }

    &:hover {
      background-color: #3d4244;
    }
  }
}

.online-indicator {
  position: absolute;
  bottom: 0;
  right: 0;
}

.message-send {
  display: flex;
  justify-content: center;
  height: 48px;
  background-color: #282a2b;
  text-align: center;
}

.scroll-button {
  display: flex;
  font-size: 12px;
  overflow: hidden;
  background-color: #282a2b;
  left: 0;
  right: 0;
  z-index: 1;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  text-align: left;
  padding: 4px 12px;
}

.filter-button {
  font-size: 12px;
  display: flex;
  align-items: center;
  margin: 0 0 4px;
  padding: 4px;
  background-color: #212425;
  cursor: pointer;
  height: 20px;
}

.error-banner {
  margin: 0;
  font-size: 16px;
  overflow: hidden;
  background-color: #ff2f2f;
  position: fixed;
  top: 48px;
  left: 0;
  right: 0;
  z-index: 2;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  text-align: left;
  padding: 4px 24px;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.25s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

@media screen and (max-width: 527px) {
  .responsive-chat {
    display: none;
  }
}

.chat-icon {
  width: 28px;
  height: 28px;
  padding: 10px;
}

.chat-button {
  height: 20px;
  float: left;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.chat-navbar a.right,
.navbar a.right,
.right {
  float: right;
  cursor: pointer;
}

.left {
  float: left;
  cursor: pointer;
}

.chat-navbar {
  overflow: hidden;
  background-color: #282a2b;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.navbar {
  overflow: hidden;
  background-color: #282a2bbf;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.navbar a {
  height: 20px;
  float: left;
  color: white;
  text-align: center;
  padding: 10px 14px;
  border-radius: 4px;
  margin: 4px;
  font-size: 17px;
  transition: background-color 1s ease;
}

.navbar a.main {
  color: #0f0;
}

.chat-navbar a.active {
  background-color: #2d5431;
}

.button.active,
.navbar a.active {
  background-color: #ffffff13;
}

.light-mode .button.active,
.light-mode .navbar a.active {
  background-color: #00000013;
}

.button:hover,
.navbar a:hover {
  background-color: #ffffff1a;
  transition: background-color 0.25s ease;
}

.light-mode .button:hover,
.light-mode .navbar a:hover {
  background-color: #0000001a;
  transition: background-color 0.25s ease;
}

.light-mode .icon-mobile {
  color: #000;
  background-color: #ffffff1a;
}

.filter-button:hover,
.settings-item:hover {
  background-color: #282a2b;
}

.scroll-bar-dark::-webkit-scrollbar-thumb:hover,
.dropdown-toggle:hover,
.dropdown-menu li:hover,
.settings-button:hover,
.scroll-bar::-webkit-scrollbar-thumb:hover,
.left:hover,
.right:hover,
button:hover,
.chat-navbar a:hover {
  background-color: #313435;
}

.context-menu-item:hover,
.chat-settings:hover,
.message-grid:hover {
  background-color: #212425;
}

.light-mode .icon-mobile {
  color: #000;
}

.icon-mobile:hover {
  background-color: #ffffff1a;
  transition:
    background-color 0.25s ease,
    fill 1s ease;
}

.light-mode .icon-mobile:hover {
  background-color: #0000001a;
  transition:
    background-color 0.25s ease,
    fill 1s ease;
}

.navbar a:not(:first-child) {
  margin: 4px 4px 4px 0;
}

.icon-mobile {
  display: none;
}

@media screen and (max-width: 838px) {
  .navbar a:not(:first-child) {
    display: none;
  }

  .icon-mobile {
    line-height: 24px;
    width: 28px;
    height: 28px;
    padding: 6px;
    margin: 4px 4px 4px 0;
    border-radius: 4px;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
    transition:
      background-color 1s ease,
      color 1s ease;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.mention {
  padding: 1px;
  background-color: #1e90ff80;
  border-radius: 2px;
  cursor: pointer;

  &:hover {
    background-color: #1e90ffbf;
  }
}

.border {
  background-color: #282a2bbf;
  border-radius: 15px;
  overflow: hidden;
  width: 372px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-icons {
  position: absolute;
  right: 8px;
  top: 0;
  height: 100%;
  display: none;
}

.message-time {
  width: 48px;
}

.message-time b {
  display: none;
  justify-content: center;
  line-height: 17px;
}

.message-grid,
.profile-grid,
.message-grid:hover .message-icons,
.message-grid:hover .message-time b {
  display: flex;
}

.message-item {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.message-header {
  line-height: 11.5px;
  height: 20px;
}

.message-embed {
  max-width: 80vw;
  max-height: 80vh;
}

textarea,
input {
  color: #fff;
  font-size: 16px;
  width: 100%;
  padding: 4px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #3d3d3d;
  font-family: Arial, Helvetica, sans-serif;

  &:focus {
    outline: 1px solid white;
  }

  &::placeholder {
    color: grey;
  }
}

.loader {
  border: 6px solid #282a2b;
  border-top: 6px solid white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 0.75s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.chat-settings {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin-left: 4px;
  cursor: pointer;
}

.chat-notifications {
  height: 24px;
  width: 24px;
  margin: 8px;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #ff2f2f;
}

.message-input {
  height: 32px;
  width: calc(100% - 100px);
  margin: 8px;
  padding: 6px;
  resize: none;
}

.context-menu-item {
  padding: 4px;
  cursor: pointer;
}

.highlight {
  background-color: #2627dc80;
}

ul,
ol {
  margin: 0;
}

a {
  text-decoration: none;
  color: #00a8fc;
}

p {
  color: #fff;
}

h1 {
  margin: 0;
}

h2 {
  margin-top: 20px;
  font-size: 24px;
}

h4 {
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 4px;
}

.title {
  font-size: 36px;
  margin-top: 12px;
}

.message-text-large {
  color: #fff;
  font-size: 16px;
  margin: 0;
}

.contact-menu .contact-grid a {
  display: inline-flex;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 1s ease;
  margin: 0 -8px;

  &:hover {
    background-color: #ffffff1a;
    transition: background-color 0.25s ease;
  }
}

.icon-image {
  width: 24px;
  height: 16px;
}

.message-text-medium {
  font-size: 12px;
  margin: 0;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.message-text-medium-gray-hover,
.message-text-medium-gray {
  color: #a9a9a9;
  font-size: 12px;
  margin: 0;
}

.message-text-medium-gray-hover:hover {
  cursor: pointer;
  color: #fff;
}

.message-text-small {
  color: grey;
  font-size: 10px;
}

.text-small {
  color: #fff;
  font-size: 10px;
  text-align: left;
}

.text-medium {
  height: 19px;
}

.text-main {
  margin: 16px 0;
}

.settings-text {
  font-size: 20px;
}

.error-message {
  color: #ff2f2f;
  font-size: 10px;
}

.modal-input {
  width: 100%;
  padding: 6px;
}

.blog-header {
  height: 160px;
  width: 100%;
  background-image: url(https://i.electrics01.com/i/55bae440a2b3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-text {
  position: absolute;
  left: 20px;
  top: 0;
}

.blog-body {
  margin: 0 min(160px, 15vw);
}

.menu {
  width: fit-content;
  background-color: #282a2bbf;
  margin: 16px;
  z-index: 2;
  padding: 16px;
  border-radius: 8px;
  opacity: 0;
  animation:
    slideIn-menu 1s forwards,
    fadeIn 1s forwards;
  align-content: center;
}

.contact-menu {
  width: fit-content;
  background-color: #282a2bbf;
  margin: 16px;
  z-index: 2;
  padding: 16px;
  border-radius: 8px;
  opacity: 0;
  animation:
    slideIn-menu 1s forwards,
    fadeIn 1s forwards;
  align-content: center;
}

.contact-grid {
  padding: 0 8px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 32px;
}

@keyframes slideIn-page {
  0% {
    margin-top: -16px;
  }

  100% {
    margin-top: 0;
  }
}

@keyframes slideIn-menu {
  0% {
    margin-top: 0;
  }

  100% {
    margin-top: 16px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.chat-menu {
  width: min(100% - 20px, 436px);
  background-color: #282a2b;
  padding: 32px 32px 18px;
  border-radius: 16px;
  max-height: 100%;
  overflow-y: auto;
}

.settings-menu {
  width: max(800px, calc(100% - (40% - 64px)));
  background-color: #282a2b;
  display: flex;
  border-radius: 16px;
  height: min(calc(100% - 32px), max(40%, 600px));

  @media (max-width: 932px) {
    width: max(min(100% - 16px, 800px), 400px);
  }
}

.grid-sessions {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.grid-sessions-item {
  min-width: 150px;
  margin: 10px;
  padding: 10px;
  background-color: #212425;
  border-radius: 15px;
  flex-grow: 1;
  flex-basis: 0;
}

.grid-home {
  padding: 18px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.grid-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;

  @media (max-height: 700px) or (max-width: 732px) {
    height: 100%;
  }
}

.grid-item {
  flex: 0 0 25%;
  padding: 16px;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  @media (min-width: 600px) {
    flex: 0 0 16.66%;
  }

  @media (min-width: 1000px) {
    flex: 0 0 8.33%;
  }
}

.grid-image {
  width: 352px;
  height: 198px;
  object-fit: cover;
  object-position: top;
  margin: 10px 0 0;
  border-radius: 10px;
}

.sidebar {
  height: calc(100% - 8px);
  width: 246px;
}

.switch {
  position: relative;
  width: 40px;
  height: 24px;
  display: table;
  margin: 8px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #212425;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #3d3d3d;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3d3d3d;
}

input:checked + .slider:before {
  -ms-transform: translateX(16px);
  transform: translate(16px);
}

.settings-item {
  cursor: pointer;
  font-size: 20px;
  text-align: left;
  padding: 16px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.settings-page {
  text-align: left;
  float: left;
  flex-grow: 1;
  width: calc(100% - 232px);
  margin: 16px;
  overflow-wrap: anywhere;
  max-height: 100%;
  overflow-y: auto;
}

.settings-page-container {
  width: fit-content;
}

.settings-sidebar {
  width: 199px;
  border-right: 1px solid #212425;
  background-color: #212425;
  border-radius: 16px 0 0 16px;
  float: left;
  overflow-y: auto;
}

.settings-button {
  background-color: #212425;
  padding: 8px;
  margin: 4px 0;
  cursor: pointer;
  font-size: 16px;
  display: table;
  border-radius: 4px;
}

.settings-button-red {
  background-color: #212425;
  padding: 8px;
  margin: 4px 0;
  cursor: pointer;
  font-size: 16px;
  display: table;
  border-radius: 4px;
  color: #ff2f2f;
}

.settings-spacer {
  display: flex;
  align-items: center;

  p {
    white-space: nowrap;
    color: #a9a9a9;
    font-size: 12px;
    margin: 0;
    padding-right: 6px;
  }

  div {
    border-bottom: 1px solid #3d4244;
    width: 100%;
    margin: 20px 0;
  }
}

.settings-modal {
  text-align: center;
  padding: 32px 32px 18px;
}

.settings-input {
  width: 100%;
  padding: 6px;
  margin: 12px 0;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 210px;
}

.dropdown-toggle {
  cursor: pointer;
  padding: 8px;
  margin: 4px 0;
  border-radius: 4px;
  text-transform: capitalize;
  background-color: #212425;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  padding: 4px;
  border: 1px solid #282a2b;
  border-radius: 4px;
  background-color: #212425;
  list-style: none;
  z-index: 1;
}

.dropdown-menu li {
  cursor: pointer;
  padding: 4px;
  text-transform: capitalize;
}
